.step {
  margin-top: 8em;
}

.step-title {
  text-align: center;
  margin-bottom: 4em;
}

.step-title span {
  font-size: 18px;
  text-transform: uppercase;
  color: #c9a664;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.step-title p {
  font-size: 30px;
}

.step-1, .step-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1114px;
  height: 318px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step-1 img, .step-3 img {
  width: 400px;
}

.step-1 figcaption, .step-3 figcaption {
  width: 540px;
  height: 259px;
}

.step-1 figcaption span, .step-3 figcaption span {
  display: block;
  font-size: 108px;
  color: #c9a664;
  margin-bottom: -0.2em;
}

.step-1 figcaption p, .step-3 figcaption p {
  font-size: 18px;
}

.step-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7em;
  margin-bottom: 7em;
}

.step-2 figcaption {
  width: 540px;
  text-align: right;
  height: 259px;
}

.step-2 figcaption span {
  display: block;
  font-size: 108px;
  color: #c9a664;
  margin-bottom: -0.2em;
}

.step-2 figcaption p {
  font-size: 18px;
}

.step-2-block {
  width: 400px;
  height: 306px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.step-2-block-img1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.step-2-block-img2 {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
}

.step-2-block img {
  display: block;
  width: 317px;
}

@media only screen and (max-width: 600px) {
  .step {
    margin-top: 8em;
  }
  .step-1, .step-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .step-1 img, .step-3 img {
    width: 100%;
  }
  .step-1 figcaption, .step-3 figcaption {
    width: 90%;
    margin: 0 auto;
    text-align: right;
    text-align: center;
    height: 100%;
  }
  .step-2 {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin: 0 auto;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 7em;
    margin-bottom: 7em;
  }
  .step-2 figcaption {
    width: 90%;
    margin: 0 auto;
    text-align: right;
    text-align: center;
    height: 100%;
    grid-row: 0/1;
  }
  .step-2-block {
    width: 100%;
    height: 100%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .step-2-block-img1 {
    grid-column: 1/ -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .step-2-block-img2 {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
  .step-2-block img {
    display: block;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */